@page "/"
@rendermode RenderMode.InteractiveServer
@using LeadTimeCalculator.Client.Data
@using Radzen
@using Radzen.Blazor

<PageTitle>@PageTitle</PageTitle>
<RadzenDialog />

<div class="bg-white">
    <div class="p-2 d-flex flex-column gap-3 border-1 border-bottom bg-white">
        <div class="d-flex flex-row gap-2 align-items-center">
            <RadzenLabel
                Text="Calculate forwards:"
                Style="width: 175px;"
                Component="@nameof(_calculateTimeForwardFromDate)" />
            <RadzenDatePicker
                @bind-Value=@_calculateTimeForwardFromDate
                Name="@nameof(_calculateTimeForwardFromDate)"
                Disabled="_selectedCalendar is null"
                ShowCalendarWeek
                Placeholder="Calculate from" />
            <RadzenLabel
                class="mr-2"
                Text="Workdays to add:"
                Component="@nameof(_calculateTimeForwardWorkingDaysToAdd)" />
            <RadzenNumeric
                ShowUpDown="false"
                TValue="double"
                @bind-Value=@_calculateTimeForwardWorkingDaysToAdd
                Disabled="_selectedCalendar is null"
                Name="@nameof(_calculateTimeForwardWorkingDaysToAdd)"
                Style="width: 115px"
                Placeholder="Fractional workdays" />
            <RadzenButton 
                Disabled="_selectedCalendar is null"
                Click="CalculateTimeForward">Calculate</RadzenButton>
        </div>
        <div class="d-flex flex-row gap-2 align-items-center">
            <RadzenLabel
                Text="Calculate backwards:"
                Style="width: 175px;"
                Component="@nameof(_calculateTimeBackwardsFromDate)" />
            <RadzenDatePicker
                @bind-Value=@_calculateTimeBackwardsFromDate
                Name="@nameof(_calculateTimeBackwardsFromDate)"
                Disabled="_selectedCalendar is null"
                ShowCalendarWeek
                Placeholder="Calculate from" />
            <RadzenLabel
                class="mr-2"
                Text="Workdays to subtract:"
                Component="@nameof(_calculateTimeBackwardsWorkingDaysToSubtract)" />
            <RadzenNumeric
                ShowUpDown="false"
                TValue="double"
                @bind-Value=@_calculateTimeBackwardsWorkingDaysToSubtract
                Disabled="_selectedCalendar is null"
                Name="_requestShippingDateWorkdaysToComplete"
                Style="width: 115px"
                Placeholder="Fractional workdays" />
            <RadzenButton 
                Disabled="_selectedCalendar is null"
                Click="CalculateTimeBackward">Calculate</RadzenButton>
        </div>
    </div>

    <RadzenMenu >
        <RadzenMenuItem 
            Text="Add Workday Calendar" 
            Click="AddCalendar"
            Disabled="_selectedCalendar is not null"
            Icon="add"  />
        <RadzenMenuItem 
            Text="Add Holiday" 
            Disabled="_selectedCalendar is null"
            Click="ShowAddHolidayDialogAsync"
            Icon="add"  />
        <RadzenMenuItem 
            Text="Add Exception Day" 
            Disabled="_selectedCalendar is null"
            Click="ShowAddExceptionDayDialogAsync"
            Icon="add"  />
    </RadzenMenu>

    @if(_selectedCalendar is not null) 
    {
        <RadzenScheduler 
            @ref="_scheduler"
            SlotRender=@OnSlotRender 
            style="height: 768px;" 
            TItem="Appointment" 
            Data=@_appointments 
            StartProperty="Start" 
            EndProperty="End"
            TextProperty="Text" 
            SelectedIndex="0"
            LoadData=@OnSchedulerLoadData
            AppointmentRender=@OnAppointmentRender>
                <RadzenMonthView />
        </RadzenScheduler>
    }
    else 
    {
        <div class="p-4">
            <h5 class="p-2 text-center text-body-emphasis">No selected workday calendar, create one to begin calculating lead times.</h5>
            <p class="text-center">Click <u style="cursor: pointer;" @onclick="AddCalendar">here</u> or "Add Workday Calendar" to start</p>
        </div>
    }
</div>